

<div class="col-12">
<div class="form-floating mb-3">
 <input type="text" class="form-control" id="floatingInput" value="{{this.serialNumber}}" placeholder="Serial Number" name="serialNumber">
  <label for="floatingInput">Serial Number</label>
</div>
</div>
<div class="col-6">
<div class="form-floating mb-3">
 <input type="text" class="form-control" id="floatingInput" value="{{this.productName}}" placeholder="Product Name" name="productName">
  <label for="floatingInput">Product Name</label>
</div>
</div>
<div class="col-6">
<div class="form-floating mb-3">
 <select class="form-select" name="currentState">
  <option  selected>Select a phase</option>
  <option value="Manufacturing">Manufacturing</option>
  <option value="Testing">Testing</option>
  <option value="Storage">Storage</option>
  <option value="Sold">Sold</option>
</select>
</div> 
</div>
</div>
<div class="col-12 d-grid">
  <button type="submit" class="btn btn-primary">SUBMIT</button>
</div>
